|
|
// MAIN
|
|
<canvas id="canvas" width="600" height="400"></canvas>
<img id = "img1" width="600px" src="images/img1.png" alt="" style="display: none;">
<img id = "img2" width="600px" src="images/men.png" alt="" style="display: none;">